In [12]:
import pickle
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 300)

scaler = pickle.load(open('scaler.pickle', 'rb'))
final_model = pickle.load(open('model.pickle', 'rb'))

In [13]:
hold_out = pd.read_csv("kc_house_data_test_features.csv")

1. Drop 'Unnamed: 0'
2. Get hold_out df to the same #of columns as traindf

In [14]:
hold_out

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [15]:
hold_out.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
#Replace 33 bedrooms with 3 as it was a typo
hold_out['bedrooms'] = hold_out['bedrooms'].replace({33:3})

In [17]:
hold_out[(hold_out['yr_renovated']==0) & (hold_out['yr_built']==1990)]

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
99,1088801350,20150210T000000,3,2.50,2320,9610,1.0,0,0,3,9,1730,590,1990,0,98011,47.7394,-122.204,2450,9608
162,2744000010,20140513T000000,3,2.50,1950,8251,2.0,0,0,3,7,1950,0,1990,0,98001,47.3430,-122.280,1540,8588
240,925069134,20140910T000000,4,2.00,3090,41147,1.0,0,0,3,7,3090,0,1990,0,98052,47.6748,-122.049,3300,34280
325,6664900330,20150223T000000,3,2.50,1990,7577,2.0,0,0,3,7,1990,0,1990,0,98023,47.2908,-122.351,1900,7152
354,9406500600,20150205T000000,2,1.50,1068,1452,2.0,0,0,3,7,1068,0,1990,0,98028,47.7530,-122.244,1078,1357
611,1796381120,20140728T000000,3,2.00,1090,7350,1.0,0,0,4,7,1090,0,1990,0,98042,47.3687,-122.085,1490,7741
621,5468750040,20150126T000000,4,4.00,2740,8250,2.0,0,0,4,9,2740,0,1990,0,98042,47.3735,-122.156,2290,8250
680,1939100610,20140623T000000,4,2.50,2300,7989,2.0,0,0,3,9,2300,0,1990,0,98074,47.6273,-122.034,2280,8835
734,1939130120,20140718T000000,4,2.50,3100,8529,2.0,0,0,3,9,3100,0,1990,0,98074,47.6252,-122.029,2710,8344
760,7701961220,20140626T000000,4,2.50,2990,16809,2.0,0,0,3,11,2990,0,1990,0,98077,47.7123,-122.073,3340,18752
824,8077210230,20141212T000000,4,2.50,2340,8955,2.0,0,0,3,9,2340,0,1990,0,98074,47.6283,-122.026,2340,8955
910,624110110,20150222T000000,5,4.50,4820,13165,2.0,0,0,4,11,3950,870,1990,0,98077,47.7295,-122.057,3880,13810
915,1898200100,20140528T000000,3,2.50,2400,9701,1.0,0,0,3,9,2400,0,1990,0,98023,47.3081,-122.392,2400,8258
959,6305900300,20141013T000000,4,2.50,2740,8336,2.0,0,0,4,9,2740,0,1990,0,98031,47.3904,-122.176,2460,9189
992,8029500360,20141202T000000,3,2.50,2370,9102,2.0,0,0,3,9,2370,0,1990,0,98023,47.3067,-122.394,2530,9883
1035,1796370590,20150305T000000,3,2.00,1490,7599,1.0,0,0,3,7,1490,0,1990,0,98042,47.3687,-122.088,1560,7710
1067,8644210110,20150501T000000,3,2.50,3320,12840,1.0,0,0,3,10,2600,720,1990,0,98075,47.5783,-121.994,3230,14933
1122,3124059006,20140508T000000,4,3.25,3820,24166,2.0,0,1,4,11,3310,510,1990,0,98040,47.5263,-122.227,2900,18786
1289,9265410090,20141008T000000,3,1.75,1370,8006,2.0,0,0,3,7,1370,0,1990,0,98001,47.2580,-122.252,1530,8006
1346,6792100090,20140914T000000,4,2.50,2620,10489,2.0,0,0,3,9,2620,0,1990,0,98052,47.6732,-122.143,2430,7701
1492,1126059201,20150504T000000,5,3.25,4410,35192,2.0,0,2,3,12,3880,530,1990,0,98072,47.7522,-122.130,4410,59677
1531,1427300120,20150121T000000,3,2.25,1760,16418,1.0,0,0,3,7,1190,570,1990,0,98053,47.6525,-121.985,2260,20747
1658,3982700088,20150402T000000,3,2.50,2720,7250,2.0,0,0,3,9,2720,0,1990,0,98033,47.6894,-122.195,2870,7250
1683,3905040590,20150421T000000,3,2.50,2180,7169,2.0,0,0,3,8,2180,0,1990,0,98029,47.5714,-122.002,2150,5914
1692,9264960850,20140709T000000,4,3.50,3360,9767,2.0,0,0,3,9,2450,910,1990,0,98023,47.3047,-122.347,2580,8757
1807,7298050110,20150303T000000,4,2.50,3360,11637,2.0,0,0,3,11,3360,0,1990,0,98023,47.3018,-122.342,3530,11205
1861,4123820450,20140507T000000,3,2.50,1830,13042,2.0,0,0,3,8,1830,0,1990,0,98038,47.3738,-122.042,1940,6996
1938,3600600065,20140820T000000,3,1.50,1520,7200,1.0,0,0,4,7,1160,360,1990,0,98198,47.3855,-122.302,1460,7200
1961,8650100120,20140829T000000,5,2.50,2990,7292,2.0,0,0,4,8,2990,0,1990,0,98042,47.3604,-122.091,2150,8190
1998,1796380330,20140623T000000,3,2.00,1310,6738,1.0,0,0,4,7,1310,0,1990,0,98042,47.3694,-122.083,1290,8067
2025,1560920040,20140731T000000,4,2.50,2960,37430,2.0,0,0,3,9,2960,0,1990,0,98038,47.3988,-122.023,2800,36384
2042,4178500150,20140922T000000,3,2.25,1670,6600,2.0,0,0,4,7,1670,0,1990,0,98042,47.3604,-122.089,1670,6801
2186,2122059014,20150409T000000,4,2.00,1700,12048,2.0,0,0,3,7,1700,0,1990,0,98030,47.3748,-122.186,1960,7650

In [18]:
#Create new yr_renovated column removing 0 values in yr_renovated column to an actual year(yr_built)
hold_out['yr_renovated2'] = np.where(hold_out['yr_renovated']==0, hold_out['yr_built'], hold_out['yr_renovated'])

In [19]:
#Change date column to datetime type and create two additional columns for month and year sold
hold_out['date'] = pd.to_datetime(hold_out['date']) #turn date column to date type
hold_out['month'] = pd.DatetimeIndex(hold_out.loc[:,'date']).month #Create month column
hold_out['year'] = pd.DatetimeIndex(hold_out.loc[:,'date']).year #create year column

3. At this point hold_out should be fully cleaned.

In [4]:
# scaled_holdout = scaler.transform(hold_out)

In [5]:
# preds = final_model.predict(scaled_holdout)

In [6]:
# pd.DataFrame(preds).to_csv('housing_preds_sandrawelbeck.csv')